@using Composite.Core.Routing.Pages
@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "Show details job info"; }
    }

    [FunctionParameter(Label = "Title form apply job",  DefaultValue = "Apply job now")]
    public string TitleFormApplyJob { get; set; }


}

@{
    string pathInfo = C1PageRoute.GetPathInfo();
    var job = string.IsNullOrEmpty(pathInfo) ? null : Data.Get<Kobelco.Job>().FirstOrDefault(_ => _.Title == pathInfo.Substring(1));
    if (job == null)
    {
        return;
    }
    C1PageRoute.RegisterPathInfoUsage();
}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
    <title>@job.Title</title>
    <style>
        .job-detail-title {
            font-weight: 500;
            font-size: 18px;
            padding-bottom: 20px;
            text-transform: uppercase;
        }

        .job-detail-location {
            text-transform: uppercase;
            padding-bottom: 20px;
        }

        .view-all-job {
            color: #1e90ff;
            padding: 30px 0 15px 0;
        }

        .btn-aqua, .btn-aqua:hover, .btn-aqua:focus {
            background: #1e90ff;
            color: white;
            text-transform: none;
            font-weight: 300;
            margin-top: 20px;
            font-size: 12px;
        }

        .form-job-content {
            padding: 0 10px 10px 10px;
        }
        .form-group-job {
            padding-bottom: 10px;
        }
        .form-job {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        .invalid-feedback {
            color: red;
        }
    </style>
    
</head>
<body>
    <div>
        <div class="view-all-job">
            <a href="../">@Html.Raw("&lt;&lt; View all opportunities")</a>
        </div>
        <h3 class="job-detail-title">
            @job.Title
        </h3>
        <h5 class="job-detail-location">
            @job.Location
        </h5>
        <div class="job-detail-desc">
            @Html.Raw(job.Descriptions)
        </div>
        <div class="apply-job">
            <button type="button" id="btn-apply-job" class="btn btn-aqua"  data-toggle="modal" data-target="#myModal">Apply now</button>
        </div>
    </div>
    


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@TitleFormApplyJob</h4>
            </div>
            <div class="modal-body">
                <div class="form-job-content">
                    <p>Job title: @job.Title</p>
                    <form id="form-submit-job" class="form-horizontal" action="../">
                        <div class="form-group-job">
                            <input type="text" class="form-job" id="first-name" placeholder="First name"/>
                        </div>
                        <div class="form-group-job">
                            <input type="text" class="form-job" id="last-name" placeholder="Last name"/>
                        </div>
                        <div class="form-group-job">
                            <input type="text" class="form-job" id="phone-number" placeholder="Phone number"/>
                        </div>
                        <div class="form-group-job">
                            <input type="email" class="form-job" id="email" placeholder="Email address"/>
                        </div>
                        <button type="button" class="btn btn-aqua">Submit Application</button>
                    </form>
                </div> 
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
<script>
    var _isValid = true;
    //bootstrapValidate('#email', 'email', function(isValid) {
    //    _isValid = isValid;
    //    }
    //);
    bootstrapValidate('#email', 'required: Please input email');
</script>

</body>
</html>
