@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "List jobs"; }
    }

}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
    <style>
        
        .title-location {
            text-transform: uppercase;
            font-weight: 500;
            color: white;
            width: 100%;
            background: #222;
            padding: 15px;
        }

        .job-item {
            text-transform: uppercase;
            margin: 10px 0;
        }
        .job-item a {
            text-transform: none;
            color: #6495ed;
        }
    </style>
</head>
<body>
    @{
        var allJob = from job in Data.Get<Kobelco.Job>()
                     orderby job.DatePosted descending
                     select job;

        <div>
            <h3 class="title-location">CURRENT OPENING: Houston, Texas</h3>
        </div>
        foreach (var job in allJob)
        {
            if (job.Location.Equals("Houston", StringComparison.CurrentCultureIgnoreCase) || job.Location.Equals("Texas", StringComparison.CurrentCultureIgnoreCase))
            {
                <div class="row">
                    <div class="col-md-6 job-item">
                        <div class="col-md-4">@job.Title</div>
                        <div class="col-md-4">@job.DatePosted.ToString("MM/dd/yyyy")</div>
                        <div class="col-md-4"><a href="@this.CurrentPageNode.Url/job-detail/@job.Title">View job description</a></div>
                    </div>
                </div>
            }
        }

        <div>
            <h3 class="title-location">CURRENT OPENING: Moore, South Carolina</h3>
        </div>
        foreach (var job in allJob)
        {
            if (job.Location.Equals("Moore", StringComparison.CurrentCultureIgnoreCase) || job.Location.Equals("South Carolina", StringComparison.CurrentCultureIgnoreCase))
            {
                <div class="row">
                    <div class="col-md-6 job-item">
                        <div class="col-md-4">@job.Title</div>
                        <div class="col-md-4">@job.DatePosted.ToString("MM/dd/yyyy")</div>
                        <div class="col-md-4"><a href="@this.CurrentPageNode.Url">View job description</a></div>
                    </div>
                </div>
            }
        }
    }
</body>
</html>
